body {
  margin: 0;
}

svg {
  cursor: default;
  font-weight: 400;
  font-size: 100%;
  border: 3px solid darkgrey;
}

.node circle {
  /* fill: black; */
  cursor: pointer;
}

.node text {
  text-anchor: middle;
  cursor: pointer;
  opacity: 0.5;
}

.link {
  stroke: #ddd;
  stroke-width: 1;
  opacity: 0.5;
}
