*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  background: linear-gradient(45deg, #e10522 0%, rgba(225, 5, 34, 0) 70%),
              linear-gradient(135deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%),
              linear-gradient(225deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%),
              linear-gradient(315deg, #09f505 100%, rgba(9, 245, 5, 0) 70%);
} */

.absolute-center,
.menu,
.menu .btn .fa,
.menu .btn.trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.menu {
  width: 3em;
  height: 3em;
}
.menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #c14343;
  opacity: 0;
  z-index: -10;
  cursor: pointer;
  -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s;
  transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.graphsearch {
  position: absolute;
  top: 50;
  right: 0;
  opacity: 1;
  z-index: 101;
  cursor: pointer;
  width: 300px;
  padding: 3px;
}
.graphsearch input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.15);
  padding-left: 5px;
}
.menu .btn .fa {
  font-size: 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu .btn:hover .fa {
  color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger {
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.menu .btn.trigger:hover .line {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger:hover .line:before,
.menu .btn.trigger:hover .line:after {
  background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger .line {
  width: 60%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
  transition: background-color 0.3s, height 0.3s, top 0.3s;
}
.menu .btn.trigger .line:before,
.menu .btn.trigger .line:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger .line:before {
  top: -8px;
  -webkit-transform-origin: 15% 100%;
  transform-origin: 15% 100%;
}
.menu .btn.trigger .line:after {
  top: 8px;
  -webkit-transform-origin: 25% 30%;
  transform-origin: 25% 30%;
}
.menu .rotater {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.menu.active .btn-icon {
  opacity: 1;
  z-index: 50;
}
.menu.active .trigger .line {
  height: 0px;
  top: 45%;
}
.menu.active .trigger .line:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 120%;
}
.menu.active .trigger .line:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 120%;
}

.rotater:nth-child(1) {
  -webkit-transform: rotate(-181deg);
  transform: rotate(-181deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
  -webkit-transform: translateY(-6em) rotate(25.71429deg);
  transform: translateY(-6em) rotate(25.71429deg);
}

.rotater:nth-child(2) {
  -webkit-transform: rotate(-269.71429deg);
  transform: rotate(-269.71429deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
  -webkit-transform: translateY(-6em) rotate(-90.71429deg);
  transform: translateY(-6em) rotate(-90.71429deg);
}

.rotater:nth-child(3) {
  -webkit-transform: rotate(-225.14286deg);
  transform: rotate(-225.14286deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
  -webkit-transform: translateY(-6em) rotate(-77.14286deg);
  transform: translateY(-6em) rotate(-77.14286deg);
}

.container {
  width: 600px;
  margin: 50px auto;
}

.searchbox {
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 50px;
  float: right;
  overflow: hidden;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: red;
}
.searchbox-input::-webkit-input-placeholder {
  color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
  color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
  color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
  color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  font-family: verdana;
  font-size: 22px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #dcddd8;
  background: #172b3c;
}

.searchbox-open {
  width: 100%;
}
