@import url("https://fonts.googleapis.com/css?family=Nunito|Poppins");
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

#graph {
  background-color: #fafafa;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}

#switch {
  margin: 5px;
  margin-top: 55px;
  position: relative;
  float: left;
  z-index: 100;
  width: 130px;
  padding: 15px;
}

#footer {
  font-family: "Quicksand", sans-serif;
  color: #4c4c4c;
  position: absolute;
  top: 97vh;
  left: 82vw;
  font-size: 13px;
}

.clicker {
  height: 50px;
  padding: 5px;
}
