@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins');
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #A5A4A4;
}

#graph {
  background-color: #A5A4A4;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}

#switch {
  margin: 5px;
  margin-top: 55px;
  position: relative;
  float: left;
  z-index: 100;
  width: 130px;
  padding: 15px;
}

.clicker {
  height: 50px;
  padding: 5px;
}
