@import url("https://fonts.googleapis.com/css?family=Poppins");

.node circle {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  font-family: "Poppins", sans-serif;
}

.node circle.highlighted {
  fill: #c14343;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
